body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #CCC;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

tr.a td.a, tr.b td.b {
    background: rgba(0, 0, 0, .1);
}

.cell, .player-input {
    width: 45px;
    height: 45px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.cell {
    position: relative;
    color: #555;
    cursor: default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-input {
    background: transparent;
    color: #66C;

    font-size: 1em;
    font-weight: bold;

    display: block;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
 * Grid styling.
 */
table {
    border: 3px solid #666;
}

table tr:nth-child(3n) {
    border-bottom: 3px solid #666;
}

table tr td:nth-child(3n) {
    border-right: 3px solid #666;
}

/*
 * Conflict styling.
 */
.collision {
    color: #955;
}
.collision input {
    color: #C55;
}

/*
 * Form styling.
 */
fieldset {
    border: 0;
}
label {
    width: 200px;
    display: inline-block;
}
/*
 * Pencil grid
 */
.pencil-grid {
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
.pencil-square {
    width: 33%;
    height: 33%;
    font-size: .3em;
    position: absolute;
    color: #AAA;
}

.pencil-square-1 {
    left: 0;
    top: 0;
}
.pencil-square-2 {
    left: 33%;
    top: 0;
}
.pencil-square-3 {
    right: 0;
    top: 0;
}

.pencil-square-4 {
    left: 0;
    bottom: 33%;
}
.pencil-square-5 {
    right: 33%;
    bottom: 33%;
}
.pencil-square-6 {
    right: 0;
    bottom: 33%;
}

.pencil-square-7 {
    left: 0;
    bottom: 0;
}
.pencil-square-8 {
    left: 33%;
    bottom: 0;
}
.pencil-square-9 {
    right: 0;
    bottom: 0;
}
